html{
    background-color:black;
    background-image:   url('piano.jpg');
    background-size:    cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position:     center center;              /* optional, center the image */
}

.header{
    padding:5pt 10pt;
    background:Black;
    color:orange;
}


.wrapper{
    width:850px;
}

h1{
    /*font: 3em "Georgia italic", serif;*/
     /*font: 3em "Helvetica Bold", sans-serif;*/
   font-family: Helvetica, Arial;
    margin:0;
    height:95;
    color:orange;
}

h2{

}

h3{

}


p{
    color:white;
    font: 1em "Myriad Italic", sans-serif;
}




body {
    /*background-image:url('gun.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow:hidden;*/
}

/*Below taken  from w3 schools and modified*/
/*http://www.w3schools.com/css/css_navbar.asp*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2828;
}

li {
    float: left;
    border-right:1px solid #605555;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}



